.header__wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include media-mobile {
    //flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    //justify-content: center;
    //align-items: center;
  }
  @include media-tablet {
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-around;
  }
}
.header__header-logo {
  margin-left: -20px;
  @include media-mobile {
    margin-bottom: 20px;
    margin-left: 0;
  }
  @include media-tablet {
    margin-bottom: 20px;
    margin-left: 0;
  }
}
  //@include media-tablet {
  //  padding: 10px 5px 10px 40px;
  //  justify-content: space-between;
  //}
  //@include media-mobile {
  //  padding-left: 30px;
  //}
//}

