
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.navigation__link {
  list-style-type: none;
  //padding: 0 30px;
  margin-right: 40px;
  cursor: pointer;
  @extend %transition;
  //@include media-tablet {
  //  &:last-child {
  //    padding-right: 40px;
  //  }
  //}
}
 .navigation__link:last-child {
   margin-right: 0;
 }
.navigation__anchor {
  text-decoration: none;
  letter-spacing: 0.32px;
  color: $color-text;
  @include font($size: 1.6rem, $height: 112%, $weight: 700);
  //@include media-tablet {
  //  @include font($size: 2.6rem, $height: 2.2rem);
  //}
  &:hover {
    color: $color-support;
  }
}
//
//a {
//  color: $color-primary;
//}
//
//a:visited {
//  @extend %font-primary;
//  color: $color-text;
//}